<footer class="bg-dark text-center  text-lg-start">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="row my-3">
                <div class="col-4">
                  <a  class="text-white" href="#">
                    <i class="fab fa-github-alt fa-3x"></i>
                  </a>
                </div>
                <div class="col-4">
                    <a  class="text-white" href="#">
                        <i class="fab fa-linkedin fa-3x"></i>
                      </a>
                </div>
                <div class="col-4">
                    <a class="text-white" href="#">
                        <i class="fab fa-facebook fa-3x"></i>
                      </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3 text-white" >
        Desarrollado y diseñado por Cristian Zayas © {{ date }}. Reservados todos los derechos.
    </div>
    <!-- Copyright -->
  </footer>
