
<!-- Modal  One -->
<div class="modal fade" id="projectOne" tabindex="-1" aria-labelledby="projectOneModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="projectOneModal">Modal title</h3>
          <button type="button" aria-label="projectOne" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          project
        </div>
       
      </div>
    </div>
  </div>


  <!-- Modal  Two -->
<div class="modal fade" id="projectTwo" tabindex="-1" aria-labelledby="projectTwoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="projectTwoModal">Modal title</h3>
          <button type="button" aria-label="projectTwo" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          project Two
        </div>
      </div>
    </div>
  </div>


  <!-- Modal  Three  -->
<div class="modal fade" id="projectThree" tabindex="-1" aria-labelledby="projectThreeModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="projectThreeModal">Modal title</h3>
          <button type="button" aria-label="projectThree" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          project Three
        </div>
      </div>
    </div>
  </div>

