
<!-- Modal  One -->
<div class="modal fade" id="experienceOne" tabindex="-1" aria-labelledby="experienceOneModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="experienceOneModal">Modal title</h3>
          <button type="button" aria-label="experience" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          experience
        </div>
        
      </div>
    </div>
  </div>


  <!-- Modal  Two -->
<div class="modal fade" id="experienceTwo" tabindex="-1" aria-labelledby="experienceTwoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="experienceTwoModal">Modal title</h3>
          <button type="button" aria-label="experienceTwo" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          experience Two
        </div>
       
      </div>
    </div>
  </div>


  <!-- Modal  Three  -->
<div class="modal fade" id="experienceThree" tabindex="-1" aria-labelledby="experienceThreeModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="experienceThreeModal">Modal title</h3>
          <button type="button" aria-label="experienceThree" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          experience Three
        </div>
        
      </div>
    </div>
  </div>
