<app-nav></app-nav>
<app-proyects></app-proyects> 
<app-skillset></app-skillset>
<app-experience></app-experience>
<app-contact></app-contact>

<div class="elevator-button fixed-action-btn " hidden>
    <a
  class="btn btn-primary btn-lg btn-floating  "
  style="background-color: #46444677"
  href="#!"
  role="button"
  ><i class="fas fa-arrow-up"></i
></a>
</div>
<app-modalskillset></app-modalskillset>
<app-modalproject></app-modalproject>
<app-modalexperience></app-modalexperience>
<app-footer></app-footer>